{% extends 'base.html'%}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/blog/blog.css'%}">
{% endblock %}

{% block script %}
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    const vm = new Vue({
        delimiters: ['{$', '$}'],
        el: '#comentario',
        data:{
            comments: [],
            date: "2022-08-11T00:00:00",
            newTitle: "",
            newText: "",
            cantidadDeClaves: "",
        },

        methods:{
            hacerComentario(){
                $.ajax({
                    type: "Post",
                    url: "/api/blog/nuevo-Comentario/",
                    data:JSON.stringify({
                        "User": "nuevoUsuario",
                        "Title": this.newTitle,
                        "Text": this.newText,
                        "Date": this.date
                    }),
                    success(){
                        vm.acutalizarComentarios();
                    }
                });

                this.newTitle= '';
                this.newText='';

            },

            leerComentarios(){
               // document.getElementById('comentariooos').style.display='';
            },

            acutalizarComentarios(){
                $.ajax({
                    type: 'Get',
                    url: '/api/blog/comentarios/',
                    contentType: 'aplication/json',
                    async:true,
                    success(datos){
                        //document.getElementById('comentariooos').style.display = 'none';
                        vm.comments=datos.ComentariosExistentes;
                        //this.cantidadDeClaves = vm.comments.length;
                    }
                })
            }
        },
        mounted() {
            this.acutalizarComentarios();
        }
    });
</script>
{% endblock%}

{% block contenido %}
<div id="comentario">

    <section class="comment">
        <h2>Writte Down a Comment</h2>
        <div class="content-form" >
            <div class="inputs">
                <div class="form-group" id="form">
                    <label for="Title">Title</label>
                    <input type="text" id="Title" v-model="newTitle">
                </div>
                <div class="form-group">
                    <label for="Text">Text</label>
                    <input type="text" id="Title" v-model="newText">
                </div>
            </div>
            <button class="button-comment" @click="hacerComentario()">Submit</button>
        </div>
    
        <div class="resume-comments">
            <button class="button-comment" @click="leerComentarios()">Comments</button>
            <p>{$  comments.length $} Comments <i class="ri-discuss-line"></i></p>
        </div>
    
        <hr>
    </section>

    <section class="comentarios"  v-if="comments.length>0">
        <article id="ComentarioInvididual" class="comentario" v-for="comentario in comments" >
            <div class="title-comentario">
                <div class="info-user">
                    <p class="usuario">{$comentario.User $} - </p>
                    <h2 class="titulo">{$ comentario.Title $}</h2>
                </div>
                <p class="date">{$ comentario.Date $}</p>
            </div>
            
            <p class="text">{$ comentario.Text $}</p>
        </article>
    </section>
</div>

{% endblock%}