{% extends 'base.html'%}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/section_roy_sigel.css' %}">
<link rel="stylesheet" href="{% static 'css/section_home.css' %}">
<link rel="stylesheet" href="{% static 'css/section_welcome.css' %}">
{% endblock %}

{% block contenido %}


<!-- section home -->
<section class="home">
    <div class="presentation">
        <div class="eslogan">
            <h1 class="title-eslogan">THE BEST QUALITY</h1>
            <p class="subtitle-eslogan">and the easiest way to get your <b>schedule</b> &amp; <b>numbers</b> right.</p>
        </div>
        <a href="#" class="botton">
            <div class="botton_content">
                <p class="text text-botton">Learn More</p>
                <p class="simbol">+</p>
            </div>
        </a>
    </div>
    
    <div class="compatible">
        <p>Compatible with</p>
        <i class="ri-microsoft-fill"></i>
        <i class="ri-android-fill"></i>
        <i class="ri-apple-fill"></i>
    </div>
    <!-- <div class="img_product"> -->
        <img class="img_product" src="{% static 'images/sigel-0.2.png' %}" alt="producto">
    <!-- </div> -->
    

    <div class="video-presentacion">
        <p class="title_video">Developed to your Needs</p>
        <video controls class="promo">
            <source src="">
        </video>
        <p><b>Watch:</b> Sigel Intro Promo</p>
    </div>
</section>
<!-- section welcome -->
<section class="welcome">
    <h2 class="title principal">WELCOME TO GÖLDMIR</h2>
    <p class="text-welc text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Modi laudantium quae expedita alias tempora nam.</p>
    <div class="part">
        <div class="text right">
            <h2 class="title subtittle">Vibrations</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus recusandae veritatis labore quasi accusamus sit impedit? Eveniet laudantium aliquid earum voluptas, ipsam tempore itaque et, esse ipsum nesciunt delectus non debitis quisquam. Dolores nesciunt magni deserunt natus, libero, ipsam aliquid architecto eius numquam illum rerum quidem nisi delectus repellat. Quas corporis eaque accusamus? Consequatur laudantium commodi possimus laborum consectetur, nemo nostrum illum adipisci incidunt deleniti est harum dolore, doloremque aperiam.</p>
        </div>
        <img class="foto-producto" src="{% static 'images/ROY_6.1.png' %}" alt="foto producto">
    </div>
    <div class="part">
        <img class="foto-producto2" src="{% static 'images/sigel-2.2.png' %}" alt="foto producto 2">
        <div class="text left">
            <h2 class="title subtittle">TITLE</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Modi laudantium quae expedita alias tempora nam. Reprehenderit, aperiam tempora debitis qui quos ducimus quidem nisi laudantium rerum iste harum omnis. Consequatur!</p>
            <h2 class="title subtittle">Concept</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus recusandae veritatis labore quasi accusamus sit impedit? Eveniet laudantium aliquid earum voluptas, ipsam tempore itaque et, esse ipsum nesciunt delectus non debitis quisquam. Dolores nesciunt magni deserunt natus, libero, ipsam aliquid architecto eius numquam illum rerum quidem nisi delectus repellat. Quas corporis eaque accusamus? Consequatur laudantium commodi possimus laborum consectetur, nemo nostrum illum adipisci incidunt deleniti est harum dolore, doloremque aperiam eius ratione quaerat necessitatibus minus blanditiis amet? Illo cumque molestiae praesentium a, at voluptates illum facilis, vero velit ea repellat iusto veritatis eum, totam fugiat. Culpa nisi neque tenetur numquam.</p>
        </div>
    </div>
    
</section>
    <!-- separador -->
<hr class="separador">

<section class="Roy">
    <div class="container">
        <div class="text_content">
            <h2 class="title title-product principal">ROY</h2>
            <div class="title-complement">
                <p class="bold">Discover a new world</p>
                <p>Vibration Analisis &amp; Monitoring</p>
            </div>
        </div>
        <div class="buttons">
            <a href="" class="botton">
                <div class="botton_content">
                    <p class="text text-botton">Learn More</p>
                    <p class="simbol">+</p>
                </div>
            </a>
            
            <a href="" class="botton">
                <div class="botton_content">
                    <p class="text text-botton">Buy</p>
                    <p class="simbol">$</p>
                </div>
            </a>
        </div>
    </div>
    <div class="compatible">
        <p>Compatible with</p>
        <i class="ri-microsoft-fill"></i>
        <i class="ri-android-fill"></i>
        <i class="ri-apple-fill"></i>
    </div>
    <div class="flex space">
        <div class="iconos">

        </div>
    
        <div class="colors">
            <p class="text">Armor Color Case</p>
            <img src="{% static 'images/Paleta de Colores Roy.svg' %}" alt="">
        </div>
    </div>    
    
    <img src="{% static 'images/ROY_9.2.png'%}" alt="" class="img_roy">
</section>

<section class="Sigel">
    <div class="flex">
        <p>Power Sopport for DIN rail</p>
        <div class="container">
                
            <div class="text_content">
                <h2 class="title title-product principal">SIGEL</h2>
                <div class="title-complement">
                    <p class="bold">The master key for you</p>
                    <p>Power range control</p>
                </div>
            </div>
            <div class="buttons buttons-right">
                <a href="" class="botton">
                    <div class="botton_content">
                        <p class="text text-botton">Learn More</p>
                        <p class="simbol">+</p>
                    </div>
                </a>
                
                <a href="" class="botton">
                    <div class="botton_content">
                        <p class="text text-botton">Buy</p>
                        <p class="simbol">$</p>
                    </div>
                </a>
            </div>
        </div>
            

    </div>

    <div class="flex space">
        <div class="iconos">

        </div>
        <div class="colors">
            <p class="text">Armor Color Case</p>
            <img src="{% static 'images/paleta de Colores Sigel.svg' %}" alt="">
        </div>
    </div>


    <img src="{% static 'images/sigel-1.2.png'%}" alt="" class="img_sigel">

</section>
<!-- separador -->
<hr class="separador">
{% endblock %}